/*
Ad Post Style Sheet
Author Pearl Molefe
*/
/**
** tab-selected: d94d4d
**not selected: 2e202b
*/
body {
	background-color: #e9eef2;
	font-family: calibri;
}
#wrapper {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}
/*=========================HEADER===================================*/
#top-menu{
	width: 50%;
	color: #fff;
	float: right;
}
#top-menu li{
	padding-right: 5px;
}
#top-menu ul{
	width: 35%;
	float: right;
	margin: 0px;
}
#top-menu  a.active {
	text-decoration: underline;
	color: #d94d4d;
}

#top-menu  a:hover{
	text-decoration: underline;
	color: #d94d4d;
}
#middle-header{
	width: 100%;
}
#middle-header img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#bottom-header{
	height: 50px;
	font-size: 16pt;
}
#bottom-header ul{
	text-align: center;
	overflow: auto;
}
#bottom-header li {
	padding-right: 10px;
}
#bottom-header  a{
	color: #666;
}

#bottom-header  a.active {
	text-decoration: underline;
	color: #d94d4d;
}

#bottom-header  a:hover{
	text-decoration: underline;
	color: #d94d4d;
}
#admin-header{
	width: 100%;
	height: 30px;
	color: #2c2a33;
	float: left;
}
#admin-header p{
	font-family: impact;
	font-size: 9pt;
	margin-left: 30px;
}
#admin-menu ul{
	float: right;
	margin-top: 0px;

}
#admin-menu li {
	list-style-type: none;
	display: inline;
	text-decoration: none;
	
}
#admin-menu a, a:visited {
	text-decoration: none;
	color: #666;
}

#admin-menu  a:hover, a:active {
	text-decoration: none;
	color: #fa6247;
}
#admin-menu img{
	margin-left: 20px;
}
#admin-menu{
	width: 90%;
	margin: 0 auto;

}
/*==========================SEARCH BAR====================================*/
.search-bar {
	float: right;
	border: solid 1px #999;
	border-radius: 10px 10px 10px 10px;
	height: 20px;
	
}
.search-bar button{
	width: 30px;
	background: transparent;
	border: none;
	float: left;
}
.search-bar button img{
	width: 20px;
	height:20px;
}
.search-bar input{
	float: left;
	background: url(../images/homeIcons/magnifier_black.png) no-repeat center left;
	background-size: 20px 20px;
	padding-left: 30px;
	width: 70%;
	height: 20px;
	border:none;
	font-weight: bold;
	color: #999;
}
.search-bar input:focus{
	outline: none;
}
/*==========================LOGIN PAGE====================================*/
#pg-login{
	background-color: #f8d650;
	margin: 0 auto;
	width: 350px;
	height: 210px;
	border-color: #f8d650;
	border-style: groove;
	
}
#pg-login input{
	width: 80%;
}
#pg-login button{
	width: 90%;
	height: 40px;
}
#pg-login .form-row{
	width: 100%;
	height: 58px;
	text-align: center;
	
}
#pg-login .username {
	    background:url(../images/homeIcons/user_yellow.png) center left #f9f2a2;
	    background-size: 30px 30px;
    	background-repeat: no-repeat;
    	padding-left: 35px;
}
#pg-login .password {
	    background:url(../images/homeIcons/locked-padlock_yellow.png) center left #f9f2a2;
	    background-size: 30px 30px;
    	background-repeat: no-repeat;
    	padding-left: 35px;
}
#login-form {
	margin-top: 10px;
}
#pg-login a, #pg-login a:visited {
	text-decoration: none;
	color: #fa6247;
}

#pg-login  a:hover, #pg-login  a:active {
	text-decoration: underline;
	color: #666;
}
/*==========================REGISTRATION PAGE====================================*/
#pg-register{
	background-color: #f8d650;
	margin: 0 auto;
	width: 420px;
	height: 250px;
	border-color: #f8d650;
	border-style: groove;
	color: #666;
}

#pg-register button{
	width: 96%;
	height: 40px;
}
#pg-register .form-row{
	width: 98%;
	height: 58px;
	margin-left: 5px;
}

#pg-register .form-col{
	width: 49%;
	height: 58px;
}

#pg-register .form-col input{
	width: 96%;
}
#pg-register .form-row input{
	width: 96%;
	
}
#pg-register label{
	display: block;
	text-align: center;
}

#register-form{
	margin-left: 5px;
	margin-top: 5px;
}

/*==========================SIDEBAR====================================*/
.sidebar{
	width: 15%;
	min-height: 500px;
	color: #2c2a33;
	font-size: 12pt;
}
.sidebar-accordion .ui-widget{
	border: none;
	color: #2c2a33;
	background: #2c2a33;
	text-transform: uppercase;
	
}
.sidebar-accordion .ui-accordion-header{
	color: #2c2a33;
	font-size: 9pt;
	background: #f8d650;
	margin-top: 0px;
	border: none;
}

.sidebar-accordion .ui-widget-content{
	background: #e9eef2;
	font-size: 10pt;
}
.ui-accordion .ui-accordion-content {
	padding:0; 
	border: none;

}

.sidebar-accordion li {
	list-style-type: none;
	padding-bottom: 5px;
	width: 100%;
	text-indent: 2em;
}
.sidebar li.active{
	background-color: #fff;
}
.sidebar-accordion .ui-widget-content a, a:visited {
	text-decoration: none;
	color: #2c2a33;
}

.sidebar-accordion a:hover, .sidebar-accordion a:active {
	text-decoration: underline;
	color: #d94d4d;
}
.sidebar .user-pic-text{
	height: 110px;
	padding-top: 20px;
}


.sidebar .user-pic-text a:hover, .sidebar .user-pic-text a:active {
	text-decoration: underline;
	color: #d94d4d;
}
.sidebar .user-pic-text a, .sidebar .user-pic-text a:visited {
	text-decoration: none;
	color: #d94d4d;
}
.sidebar .user-pic-text img{
	float: left;
}
.sidebar .user-pic-text div{
	height: 110px;
	width: 50px;
	float: left;
}
#right-sidebar{
	background-color: #fff;
	margin-left: 5px;
	margin-top: 10px;
	float: left;
	width: 22%;
}
/*==========================HOME PAGE====================================*/
#pg-home{
	margin: 0 auto;
	min-height: 300px;
	width: 80%;
	color: #2c2a33;
	overflow: auto;
}
#pg-home .category{
	float: left;
	width: 25%;
	margin-bottom: 10px;
}
#pg-home .category a, a:visited {
	text-decoration: none;
	color: #666;
}

#pg-home .category a:hover{
	text-decoration: underline;
	color: #ea2e49;
}
#pg-home .cat-icon{
	float: left;
	margin-right: 10px;
}
#pg-home .cat-icon img{
	width: 45px;
	height:45px;
}
#pg-home .cat-title{
	width: 75%;
	height: 45px;
	float: left;
	overflow: hidden;
}

#pg-home .cat-title a{
	text-transform: Capitalize;
	font-size: 14pt;
	text-decoration: none;
}
#pg-home a{
	text-decoration: none;
}
#pg-home .cat-title p{
	margin-top: 0px;
}
#pg-home  a.active {
	text-decoration: underline;
	color: #d94d4d;
}

#pg-home  a:hover{
	text-decoration: underline;
	color: #d94d4d;
}
/*==========================ABOUT PAGE====================================*/
#pg-about{
	height: 250px;
}
/*==========================CONTACT PAGE====================================*/
#pg-contact{
	height: 250px;
}
/*==========================USERS PAGE====================================*/
#users{
	float: left;
}
#users h2{
	float: left;
}

.content-menu{
	float: left;
	width: 100%;
}
.content-menu img{
	width: 25px;
	height: 25px;
	float: right;
}
#users a, #users a:visited {
	text-decoration: none;
	color: #2c2a33;
}

#users  a:hover, #users  a:active {
	text-decoration: underline;
}
/*==========================ADVERTS PAGE====================================*/
#pg-adverts{
	padding-left: 10px;
	padding-right: 10px;
}
/*--------------------------AD DETAILS PAGE---------------------------------*/
#ad-dtl{
}
#ad-dtl .ad-dtl-top-header{
	width: 100%;
	
}
#ad-dtl .ad-dtl-top-header img{
	width: 70px;
	height: 70px;
	margin-left: 30px;
}
#ad-dtl .user-pic-text{
	width: 20%;
	height: 90px;
}
#ad-dtl .user-pic-text .img-text{
	width: 100%;
}
#ad-dtl .ad-dtl-top-header h1{
	width: 75%;
	text-align: center;
}
#ad-dtl .ad-dtl-bot-header{
	width: 98%;
	height: 20px;
	color: #fff;
	background-color: #f8d650;
	text-transform: uppercase;
	margin-left: 10px;
}
#ad-dtl .ad-dtl-bot-header h3{
	float: right;
	margin-right: 5px;
	font-size: 10pt;
}
#ad-dtl .ad-dtl-body{
	width: 50%;
	margin-left: 10px;
	float: left;

}
#ad-dtl .ad-dtl-body-txt{
	width: 100%;
	min-height: 300px;
}
#ad-dtl .ad-dtl-contact{
	width: 100%;
}

#ad-dtl .ad-dtl-pictures{
	width: 45%;
	height: 45%;
	float: left;
	min-height: 350px;
	border: solid 1px #e9eef2;
	text-align: center;
	
}
#ad-dtl .ad-dtl-pictures img{
	object-fit: contain;
	
}
.ad-dtl-pictures .img-slide{
	width: 100%;
	height: 100%;
	display: none;
}
.ad-dtl-pictures .fade{
	-webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*==========================POST ADVERT PAGE====================================*/
#pg-add-advert{
	float: left;
	border-color: #e9eef2;
	padding-left: 10px;
	
}

#pg-add-advert input[type=text]{
	width: 300px;
	height: 30px;
}
#pg-add-advert select{
	width: 300px;
	height: 30px;
	outline: none;
}
#pg-add-advert p{
	margin-bottom: 0px;
}
#pg-add-advert .text{
	font-family: calibri;
	background-color: #f8ecc1;
	opacity: .8;
	font-size: 14pt;
	font-weight: bold;
	border: solid;
	border-width: 1px;
	border-color: #fa6247;
	margin-bottom: 5px;
	color: #2c2a33;
	
}
#pg-add-advert .text:focus{
	border-width: 2px;
	outline: none;
}


#pg-add-advert .img-button{
	width: 50px;
	height: 50px;
	margin-left: 10px;
	
}
.uploadcare--widget__button_type_open {
    background-color: #d94d4d;
    width: 200px;
	height: 45px;
	float: left;
}
.uploadcare--widget__button_type_open:hover{
    background-color: #f8d650;
}
/*==========================MENUS PAGE====================================*/
#menus h1{
	width: 200px;
	float: left;
}
#menus .button-img{
	float: right;
}
#menus .menu-list li{
	display: inline;

}
#menus .content-menu{
	width: 95%;
}
/*===============================TABS==================================*/
#menu-tabs {
	background:transparent; 
	font-size:10pt;
	border: none;
}
#menu-tabs h2{ 
	font-size:10pt;

}
#menu-tabs h3{ 
	font-size:8pt;

}
#menu-tabs .ui-tabs-panel{
	background: transparent;
}
#menu-tabs .ui-widget-header {
	color: #e9eef2;
	background:transparent; 
	border-top: none;
	border-left: none;
	border-right: none;
}
#menu-tabs .ui-widget-content {
	background:#fff; 
}
/*--------------------------MENU DETAILS-----------------------------------*/
.dg-menu, .dg-add-menu {
	color: #2c2a33;
}
.dg-menu img{
	width: 50px;
	height: 50px;
}
.dg-menu .details{
	overflow: auto;
	margin: 0 auto;
	text-align: center;
}
.dg-menu .form-row{
	height: 40px;
	
}
.dg-menu .left-col{
	width: 20%;
	height: 20px;
	text-align: right;
	float: left;
}

.dg-menu .right-col{
	width: 75%;
	text-align: left;
	float: left;
	
}
.dg-menu input{
	background-color: #e9eef2;
}
.dg-menu select{
	background-color: #e9eef2;
	border: none;
}
/*--------------------------ADD MENU-----------------------------------*/
.dg-add-menu{
	
}
/*--------------------------VIEW USER DETAILS-----------------------------*/
#view-user{
	background-color: #fff;
	color: #2c2a33;
}
#view-user img{
	float: left;
	padding-top: 10px;
}
#view-user h3{
	Text-Transform: Uppercase;
	font-size: 12pt;
}
#view-user-top{
	float: left;
}
#view-user-top table{
}
#edit-user{
	float: right;
	
}
#view-user input{
	background-color: #e9eef2;
	border: none;
}
#view-user select{
	background-color: #e9eef2;
	border: none;
}
/*==========================DIALOGS====================================*/
.ui-dialog {
	overflow: auto;
	background: #fff;
	color: #2c2a33;
}
.dialog {
	background-color: #e9eef2;

}
.dialog .ui-dialog-content {
	color: #2c2a33;
	background: #fff;
	font-size: 10pt;
}
.ui-widget-content {
	
}
.dialog .ui-dialog-titlebar {
	text-transform: Capitalize;
	background: #e9eef2;
	text-align: Center;
	border: none;
	color: #2c2a33;
}

.dialog .ui-dialog-titlebar-close {
	background: #fff;
}
.dialog .ui-dialog-buttonpane {
	background: #2c2a33;
}
.dialog .ui-dialog-buttons {
	background: #d94d4d;
	color: #fff;
	border-style: outset;
	border-color: #d94d4d;
}
.dialog input[type=text]{
	width: 270px;
	height: 30px;
}
.dialog label{
	margin-top: 8px;
	display: inline-block;
}
.dialog select{
	width: 270px;
	height: 30px;

}
/*==========================FOOTER====================================*/
#footer {
	width: 100%;
	height: 80px;
	color: #d94d4d;
	background-color: #201e25;
	text-transform: uppercase;
	font-size: 9pt;
	background: #201e25; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#201e25,#000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#201e25, #000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#201e25, #000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#201e25, #000); /* Standard syntax */
}

#footer a{
	color: #fa6247;
	text-decoration: none;
}

#footer a.active {
	text-decoration: underline;
	color: #d94d4d;
}

#footer a:hover{
	text-decoration: underline;
	color: #d94d4d;
}
#footer ul{
	float: right;
	margin-right: 10px;
}
#footer li{
	padding: 5px;
}
.copyright{
	float: left;
}
/*=========================MENU CLASSES===================================*/
.list-menu li {
	list-style-type: none;
	display: inline;
}
.list-menu a{
	text-decoration: none;
}
/*=========================BUTTON CLASSES===================================*/

.form-submit{
	background-color: #fa6247;
	color: #fff;
	border-style: outset;
	border-color: #fa6247;
}
.button {
	cursor: pointer;
}
.img-button{
	background: url(../images/homeIcons/mail_yellow.png) no-repeat;
	background-size: 50px 50px;
	border: none;
	
}
/*=========================ERROR CLASSES===================================*/
.pg-submit-err{
	width: 350px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
}
.error-msg {
	color: #fa6247;
	font-style: italic;
	font-size: 1em;
	font-weight: bold;
	height: 10px;
	width: 100%;
}
/*=========================DIV CLASSES===================================*/
.content {
	min-height: 500px;
	margin-top: 10px;
	width: 75%;
	color: #2c2a33;
	background-color: #fff;
	box-shadow: 3px 3px 3px #ccc;
	overflow: auto;
}

.content table{
	width: 100%;
}

.content td{
	text-transform: Capitalize;
	width: 30%;
}
.content a, a:visited {
	text-decoration: none;
	color: #666;
}

.content a:hover, a:active {
	text-decoration: none;
	color: #fa6247;
}
/*=========================TEXT AREA CLASSES===================================*/
.textbox {
	color: #999;
	font-weight: bold;
	outline: none;
	border: solid 1px #fa6247;
	font-size: 12pt;
	height: 30px;
	margin-left: 0px;
	padding-left: 5px;
	background-color: #f9f2a2;
	text-align: left;
}
.textbox:focus{
	border: solid 2px #fa6247;
}
/*=========================OTHER CLASSES===================================*/
.float-left {
	float: left;
}
.clear {
	clear: both;
}
.hidden {
	display: none;
}
.action-menu{
	float: right;
	margin-right: 10px;
	color: #666;
}
/*==========================PLACE HOLDER====================================*/
::-webkit-input-placeholder {
	/*Chrome, Opera, Safari */
	color: #999;
}

::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #999;
	opacity: 1;
	text-align: center;
}

:-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #999;
	opacity: 1;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #ccc;
}